@font-face {
  font-family: "Zalando Sans";
  font-weight: 200 900;
  font-display: swap;
  font-style: normal;

  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;

  src: url("/assets/fonts/zalando_sans/ZalandoSans-VariableFont_wdth\,wght.ttf")
    format("truetype");
}
