<div class="flex flex-col gap-8 px-12">
    <div class="flex gap-2 place-items-center">
        <div class="flex justify-end basis-1/3 min-w-fit shrink-0 h-24 aspect-square overflow-hidden">
            <img class="h-full object-cover" src="/assets/papi-logo.svg" />
        </div>
        <p class="basis-2/3 shrink font-bold text-5xl z-10">Prometheus Atomics</p>
    </div>
    <div class="hidden lg:block">
        <p>
            At Prometheus Atomics Procurement Industries (PAPI), we aren’t just 
            disrupting the energy sector; we are hyper-accelerating the 
            democratization of the periodic table through a consumer-centric, 
            isotope-forward ecosystem.

            Our mission is to bridge the gap between heavy-element volatility 
            and the untapped potential of the cul-de-sac demographic. 
            By leveraging a vertically integrated supply chain of unstable 
            nuclei, we empower consumers to curate their own radiant future.
        </p>
    </div>
</div>
