.tile {
  --number-text-size: 20cqw;
  --details-text-size: 14cqw;
  container-type: size;
}

.element-symbol {
  grid-row: 1 / 4;
  grid-column: 1 / 5;
}

.element-number {
  grid-row: 1 / 4;
  grid-column: 5 / 7;
  font-size: var(--number-text-size);
}

.element-name {
  grid-row: 5 / 6;
  font-size: var(--details-text-size);
}

.element-weight {
  grid-row: 6 / 7;
  font-size: var(--details-text-size);
}
