<style>
    .element-list-container {
        height: 400px;
        overflow-y: auto;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #f9f9f9;
    }

    .element-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .element-list li {
        padding: 8px 12px;
        border-bottom: 1px solid #eee;
    }

    .element-list li:last-child {
        border-bottom: none;
    }

    .element-list a {
        text-decoration: none;
        color: #0369a1;
        display: block;
    }

    .element-list a:hover {
        background-color: #e8f4f8;
        padding-left: 4px;
    }
</style>

@model List<Element>

<div class="element-list-container">
    <ul class="element-list">
        @foreach (var element in Model)
        {
            <li>
                <a href="#@element.Symbol">
                    @element.Number - @element.Symbol (@element.Name)
                </a>
            </li>
        }
    </ul>
</div>
