@model List<Element>

@{
    var className = @ViewData["ClassName"] as string ?? "";
}

<div class="@className element-list-container">
    <ul class="element-list">
        @foreach (var element in Model)
        {
            <li>
                <a href="#@element.Symbol">
                    @element.Number - @element.Symbol (@element.Name)
                </a>
            </li>
        }
    </ul>
</div>
