@model object

@{
    var query = Model is FilterCatalogueModel filter ? filter.Query : "";
}

<form method="get" id="filterForm" class="flex flex-col gap-4 text-nowrap" onsubmit="filtersOnSubmit(event)">
    @await Html.PartialAsync("_FilterPhase", Model)
    @await Html.PartialAsync("_FilterProductApplication", Model)
    @if (!string.IsNullOrWhiteSpace(query))
    {
        <input type="hidden" name="q" value="@query" />
    }
    <button type="button" onclick="clearFilters(event)"
            class="rounded bg-primary-600 min-w-fit text-nowrap px-4 py-2 text-white cursor-pointer">
        Clear Filters
    </button>
</form>

<script defer src="~/dist/js/filters.js"></script>
