@model object

@{
    var query = Model is FilterCatalogueModel filter ? filter.Query : "";
}

<form method="get" id="filterForm" class="flex flex-col gap-4 text-nowrap" onsubmit="filtersOnSubmit(event)">
    @await Html.PartialAsync("_FilterPhase", Model)
    @await Html.PartialAsync("_FilterProductApplication", Model)
    @if (!string.IsNullOrWhiteSpace(query))
    {
        <input type="hidden" name="q" value="@query" />
    }
    <PaButton tag="button" Attributes="type=button onclick=&quot;clearFilters(event)&quot;"
              Theme="PaButtonTagHelper.Themes.Primary"
              Style="PaButtonTagHelper.Styles.Fill"
              Size="PaButtonTagHelper.Sizes.Base"
              Classes="min-w-fit text-nowrap">
        Clear Filters
    </PaButton>
</form>

<script defer src="~/dist/js/filters.js"></script>
