<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/dist/site.css" asp-append-version="true" />

    <title>@ViewData["Title"] - Prometheus Atomics</title>

    <style>
            .nav__list {
                --hover-transition: 200ms ease-in-out;
                gap: 0.5rem;
            }

            .nav__list>li>a {
                position: relative;
                padding: 0.5rem 1rem;
            }

            .nav__list>li>a::after {
                position: absolute;

                content: "";

                bottom: 0;
                left: 50%;

                width: 75%;
                height: 2px;

                background-color: var(--color-primary-500);

                opacity: 0;
                translate: -50% 0;

                transition: opacity var(--hover-transition);

                pointer-events: none;
            }

            .nav__list>li>a:hover::after {
                opacity: 100%;
                transition: none;
            }
    </style>
</head>

<body class="flex flex-col min-h-dvh">
    <header class="shrink px-2 py-4 border-b border-primary-500 shadow-xl">
        <nav class="flex gap-2 lg:gap-8">
            <a class="basis-0" href="/">
                @await Html.PartialAsync("_LogoType", new ViewDataDictionary(ViewData) { { "Size", "small" }, {
                "LogoTypeShouldHide", true } })
            </a>
            <div class="flex justify-between items-center basis-0 grow">
                <ul class="nav__list flex">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="#">Placeholder</a>
                    </li>
                    <li>
                        <a href="#">Placeholder</a>
                    </li>
                </ul>
                @if (User.Identity?.IsAuthenticated ?? false) {
                    <div class="relative">
                        <div>
                            <p class="text-xs text-neutral-500 font-semibold">Logged in as</p>
                            <p class="">@User.Identity.Name</p>
                        </div>
                        <form class="absolute" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                            <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                        </form>
                    </div>
                } else {
                    <ul class="nav__list flex">
                        <li>
                            <a href="/Identity/Account/Register">Register</a>
                        </li>
                        <li>
                            <a href="/Identity/Account/Login">Login</a>
                        </li>
                    </ul>
                }
            </div>
        </nav>
    </header>

    <main role="main" class="basis-0 grow">
        @RenderBody()
    </main>

    <footer class="shrink px-2 py-4 bg-neutral-50 shadow-lg">
        <div class="container mx-auto max-w-240">
            <nav class="flex px-6">
                <div class="hidden md:block basis-1/4 shrink">
                </div>
                <ul class="grid grid-cols-2 grow shrink-0 gap-x-2">
                    <li>
                        <a class="footer__link" href="/">Home</a>
                    </li>
                    <li>
                        <a class="footer__link" href="#">Products</a>
                    </li>
                    <li>
                        <a class="footer__link" href="#">About Prometheus Atomics</a>
                    </li>
                    <li>
                        <a class="footer__link" href="#">Contact us</a>
                    </li>
                    <li>
                        <a class="footer__link" href="#">Legal</a>
                    </li>
                    <li>
                        <a class="footer__link" href="#">Privacy</a>
                    </li>
                    <li>
                        <a class="footer__link" href="#">Terms of use</a>
                    </li>
                </ul>
            </nav>
            <div class="text-center">
                <p class="footer__notice">&copy; <span id="copyright-year"></span> - Prometheus Atomics Procurement
                    Industries</p>
                </div>
            </div>
        </footer>
        @await RenderSectionAsync("Scripts", required: false)

        <script defer>
                const copyrightEl = document.getElementById("copyright-year");
                copyrightEl.innerText = new Date().getFullYear()
        </script>
        <script defer src="~/dist/js/index.js"></script>
    </body>

</html>
