<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/dist/site.css" asp-append-version="true" />

    <title>@ViewData["Title"] - Prometheus Atomics</title>

    <style>
            .nav__list {
                --hover-transition: 200ms ease-in-out;
                gap: 0.5rem;
            }

            .nav__list>li>a {
                position: relative;
                padding: 0.5rem 1rem;
            }

            .nav__list>li>a::after {
                position: absolute;

                content: "";

                bottom: 0;
                left: 50%;

                width: 75%;
                height: 2px;

                background-color: var(--color-primary-500);

                opacity: 0;
                translate: -50% 0;

                transition: opacity var(--hover-transition);

                pointer-events: none;
            }

            .nav__list>li>a:hover::after {
                opacity: 100%;
                transition: none;
            }
    </style>
</head>

<body class="flex flex-col min-h-dvh">
    <header class="shrink px-2 py-4 border-b border-primary-500 shadow-xl">
        <nav class="flex gap-2 lg:gap-8">
            <a class="basis-0" href="/">
                @await Html.PartialAsync("_LogoType", new ViewDataDictionary(ViewData) { { "Size", "small" }, { "LogoTypeShouldHide", true } })
            </a>
            <div class="flex justify-between items-center basis-0 grow">
                <ul class="nav__list flex">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="#">Placeholder</a>
                    </li>
                    <li>
                        <a href="#">Placeholder</a>
                    </li>
                </ul>
                <ul class="nav__list flex">
                    <li>
                        <a href="/Identity/Account/Register">Register</a>
                    </li>
                    <li>
                        <a href="/Identity/Account/Login">Login</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main role="main" class="basis-0 grow">
        @RenderBody()
    </main>

    <footer class="shrink px-2 bg-neutral-200">
        &copy; 2026 - Prometheus Atomics Procurement Industries
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
    <script defer src="~/dist/js/index.js"></script>
</body>

</html>
