<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/dist/site.css" asp-append-version="true" />

    <title>@ViewData["Title"] - Prometheus Atomics</title>
</head>

<body class="flex flex-col min-h-dvh">
    <header class="shrink px-2 bg-neutral-200">
        <p class="text-3xl font-bold">Prometheus Atomics</p>
    </header>

    <main role="main" class="basis-0 grow">
        @RenderBody()
    </main>

    <footer class="shrink px-2 bg-neutral-200">
        &copy; 2026 - Prometheus Atomics Procurement Industries
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
    <script defer src="~/dist/js/index.js"></script>
</body>

</html>
