@model IEnumerable<SSD2600_CDEGP.Models.Element>

@*Periodic table JSON from github.com/Bowserinator/Periodic-Table-JSON*@
<section class="periodic-table">
    @foreach (var element in Model)
    {
        <partial name="_ElementTile" model="element" />
    }
</section>
