@model IEnumerable<SSD2600_CDEGP.Models.Element>

@*Periodic table JSON from github.com/Bowserinator/Periodic-Table-JSON*@
<section class="grid grid-cols-18 grid-rows-10 items-center gap-1">
    @foreach (var element in Model)
    {
        <partial name="_ElementTile" model="element" />
    }
</section>
