@model IEnumerable<SSD2600_CDEGP.Models.Element>
<style>
    .periodic-table {
        display: grid;
        grid-template-columns: repeat(18, 1fr);
        grid-template-rows: repeat(10, 1fr);
        gap: 0.25rem;
        margin: 10vh auto;
        padding: 0 1rem;
    }
</style>

@*Periodic table JSON from github.com/Bowserinator/Periodic-Table-JSON*@
<section class="periodic-table">
    @foreach (var element in Model)
    {
        <partial name="_ElementTile" model="element" />
    }
</section>
