# Copy this file to .env and fill in your values

PayPal__ClientId=your_sandbox_client_id_here
PayPal__ClientSecret=your_sandbox_client_secret_here
PayPal__Mode=sandbox

BREVO__ApiKey=xkeysib-keyboardcat-if-this-has-trailing-comma-it-will-think-it's-part-of-the-value
BREVO__SenderEmail=fake@fake.com
BREVO__SenderName=This works