BREVO__ApiKey=xkeysib-keyboardcat-if-this-has-trailing-comma-it-will-think-it's-part-of-the-value
BREVO__SenderEmail=fake@fake.com
BREVO__SenderName=This works


.env in .net:
Double underscores separate section and field name

Do not use quotes for real values, or trailing commas to separate items - they can be fed unintentionally into the program
Multi-word values are parsed properly without them

Ensure there are no spaces outside of values or between field and value
Despite what online docs suggest, sub-fields in SNAKE_CASE can be parsed incorrectly
Use PascalCase for safety, as that's how it's fed into C# anyway
