@model IndexModel

@{
    ViewData["Title"] = "Welcome to Prometheus Atomics";
}
<style>
    .hero {
        position: relative;
        min-height: calc(100vh - var(--header-height));
    }

    .hero::after {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url("https://images.unsplash.com/photo-1582368290517-a888d26e1624?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
        z-index: -50;
        filter: grayscale(100%);
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        width: 30%;
        min-height: 100%;
        background-color: rgb(255, 0, 0, 0.2);
        border: 1px solid rgb(255, 0, 0, 0.4);
    }

    .filters {
        ul {
            list-style-type: none;
            /* Removes default bullet points */
            padding-left: 20px;
            /* Adjusts indentation */
        }
    }
</style>
@*body container*@
<div class="m-0 flex h-full min-h-full w-full flex-col">
    <section
        class="hero bg-primary-300/50 overflow-hidden after:bg-position-[50%_50%] after:md:bg-position-[-70em_50%] ">
        <div
            class="relative flex flex-col justify-center items-center gap-8 md:max-w-2xl h-full px-8 text-white isolate after:content-['_'] after:absolute after:right-0 after:-top-1/2 after:w-[200vw] after:h-[200%] after:bg-primary-900/50 after:backdrop-blur-xs after:md:rotate-12 after:-z-10">
            <h1 class="flex font-displayxp font-bold text-5xl">
                <span class="hidden md:block">
                    @await Html.PartialAsync("_LogoType", new ViewDataDictionary(ViewData) { { "NoType", true } })
                </span>
                The World's Atomic Authority
            </h1>
            <p class="md:pl-24 leading-relaxed">
                Prometheus Atomics curates the fundamental building blocks of the universe, delivering mission-critical
                isotopes and high-purity elements with subatomic precision. We command the global supply chain that
                fuels
                the next era of industrial evolution, providing the raw power needed to sustain the spark of human
                progress.
            </p>
            <button
                class="px-3 py-2 rounded font-semibold text-primary-800 bg-neutral-50 hover:bg-neutral-100 duration-100 cursor-pointer"
                onclick="scrollToElement('periodic-table', { behavior: 'smooth' })">
                Explore the elements
            </button>
        </div>
    </section>
    <section id="periodic-table" class="flex size-full min-h-screen">
        <div class="flex min-h-full w-fit flex-col justify-start bg-neutral-50 p-4">
            @*filter checkboxes*@
            <form method="get" id="filterForm" class="flex flex-col gap-4" onsubmit="filtersOnSubmit(event)">
				@await Html.PartialAsync("_FilterSidebar", Model)
            </form>

            @*list of elements, to be filterable/sortable*@
            @await Html.PartialAsync("_ElementList", Model.Elements, new ViewDataDictionary(ViewData) { { "ClassName",
            "basis-0 grow" } })
        </div>

        @*main content*@
        <div class="grid place-items-center w-full h-full *:w-full p-4">
            <partial name="_PeriodicTable" model="Model.Elements" />
        </div>
    </section>
</div>

<script defer src="~/dist/js/filters.js"></script>
